<br>
<h3><b>{{cake_name}}</b></h3>

<br>

<div id=size>
<h4><b>Size</b></h4>

<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="small" name="size_rb" mdbInput>
    <label class="custom-control-label" for="small">Small</label>
  </div>
  
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="medium" name="size_rb" mdbInput>
    <label class="custom-control-label" for="medium">Medium</label>
  </div>

  <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="large" name="size_rb" mdbInput>
      <label class="custom-control-label" for="large">Large</label>
    </div>
  </div>



  <div id="shape">
      <h4><b>Shape</b></h4>

    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="square" name="shape_rb" mdbInput>
        <label class="custom-control-label" for="square">Square</label>
      </div>
      
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="round" name="shape_rb" mdbInput>
        <label class="custom-control-label" for="round">Round</label>
      </div>
    
      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="rectangular" name="shape_rb" mdbInput>
          <label class="custom-control-label" for="rectangular">Rectangular</label>
        </div>
      </div>


      <div id="flavour">
          <h4><b>Flavour</b></h4>
    
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="chocolate" name="flavour_rb" mdbInput>
            <label class="custom-control-label" for="chocolate">Chocolate</label>
          </div>
          
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="vanilla" name="flavour_rb" mdbInput>
            <label class="custom-control-label" for="vanilla">Vanilla</label>
          </div>
        
          <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="butter" name="flavour_rb" mdbInput>
              <label class="custom-control-label" for="butter">Butter</label>
            </div>
          </div>







<br><br>
<h4><b>Frosting</b></h4>

<div id="topping">
  <h4><b>Topping</b></h4>
</div>


<app-customize-frostop></app-customize-frostop>


<button type="button" id="view_button" class="btn btn-info">View My Cake</button>

