<!doctype html>
<html lang="en">
<body>
  <section class="login_box_area p_120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="login_box_img">
            <img class="img-fluid" src="../../../assets/img/login.jpg" alt="" >
            <div class="hover">
             <h4>New to our website?</h4>
             <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
             <!--<a class="main_btn" href="#">Create an Account</a>-->
             <div class="d-flex justify-content-between align-items-center">
              <button  class="btn btn-dark btn-lg btn-block" [routerLink]="['/dashboard']">Create an Account</button>
             </div>    
            </div>
          </div>
        </div>

        </div>
      </div>
    </section>
  </body>
</html>